[user]
	email = seth.hilder@eightyoptions.com
	name = Seth Hilder
[alias]
    gone = "!f() { git fetch --all --prune; git branch -vv | awk '/: gone]/{print $1}' | xargs git branch -D; }; f"
[core]
	hooksPath = $HOME/.work_helpers/githooks
[commit]
	template = .git/committemplate.txt
